.test{
    color: red;
    font-size: larger;
}

.module-container{
   /* min-width: 100%;
    min-height: 100px;*/
    padding: 20px;
    background-color: #ddf2fd;
    overflow-x: auto;

}

.report-title{
    text-align: center;
    font-size: 1.5em;
}
.date-span{
    color: #0b66c3;
}

.filters table{
    margin-bottom: 20px;
}
.filters table td{
    padding: 5px;
}

.filters input, .filters select, .shoot, .shoot-excell{
    padding: 5px;
    box-sizing: border-box;
    min-height: 40px;
    vertical-align: middle;
}
.filters input[type="date"], .filters input[type="number"], .filters select, .shoot, .shoot-excell{
    min-width: 200px;
}
.shoot{
    color: #fff;
}
.shoot-excell{
    color: #fff;
    background-color: darkred;
    border: 1px solid darkred;
}
.shoot, .shoot-excell{
    border-radius: 2px;
    float: right;
    font-size: larger;
}


.ready {
    background-color: #2da31d;
    border-color: #2da31d;
    animation: all 2s;
}
.unready {
    background-color: darkred;
    border: darkred;
    animation: all 2s;
}

/*Выделение при наведении не срабатывает на самой последней строке "Всего"*/
.custom-table{
    width: 100%;
    border-collapse: collapse;
    /*border: 1px solid red;*/
}
/*.custom-table tbody tr:nth-child(odd){
    background-color: #ebefb9;
}*/

.custom-table thead tr, .custom-table tfoot tr{
    background-color: #0f82c5;
    color: #fff;
    font-weight: bolder;
}
.custom-table tbody tr:not(.sub-row-show):hover{
  /*  background-color: yellow;
    color: #0e3f82;*/
    background-color: #efaaaa;
    color: #fff;
}

.custom-table th, .custom-table td{
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;
    padding: 5px 10px;
}
.custom-table .table-deal-name{
    text-align: left;
    padding-left: 20px;
}
.currentStage{
    background-color: #0e3f82;
    color: #fff;
}
.whole-statistics{
    background-color: #191970;
    color: #fff;
}

.custom-table ul{
    list-style-type: none;
    padding-left: 10px;
    text-align: left;
}

.presents-list{
    min-width: 130px;
}

.zhk-name{
    min-width: 200px;
    font-weight: bold;
}

.number-list{
    min-width: 50px;
}

.sub-row-hide{
    display: none;
}
.sub-row-show{
    display: table-row;
}
.custom-table tbody .sub-row-show:hover{
    background-color: #fff;
}
/*.sub-row-show td:nth-child(-n+2){
    padding-left: 20px!important;
}*/

.sub-row-show:nth-child(odd){
    background-color: #ebefb9;
}
.sub-row-show:nth-child(even){
    background-color: #dcd4f1;
}



/*Анимация когда-нить позже!*/

